html{
    font-family: 'Kumbh Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
button:hover{
    cursor: pointer;
}
nav{
    display: flex;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 70px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    z-index: 10;
}
nav> .menu{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,0);
    justify-content: center;
    align-items: center;
    border: 0;
    margin-right: 3%;
    margin-left: 5%;
}
nav > h1{
    font-weight: 700;

}
nav > .profile,.shopcart {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5%;
    
}
nav > .profile{
    border-radius: 50%;
    border: 0;
}
nav > .profile> img{
    width: 25px;
    border-radius: 50%;
}
nav > .shopcart{
    width: 30px;
    height: 30px;
    right: 15%;
    border: 0;
    background-color: rgba(0,0,0,0);
}

.product{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
    position: relative;
    top: 7vh;
    left:0;
    margin-bottom: 11vh;
}
.product> img{
    width: 100vw;
    max-width: 600px;
}

.left, .right{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 0px;
    z-index: 5;
}
.left{
    left: 5%;
}
.right{
    right: 5%;
}
.info{
    padding: 0px 20px;
}
.info > h5{
    color: hsl(26, 100%, 55%);
    margin-bottom: 15px;
}
.info > h1{
    margin-bottom: 15px;

}
.info > p{
    margin-bottom: 15px;
    color: hsl(219, 9%, 45%);
}
.price-div{
    display: flex;
    align-items: center;
    position: relative;

}
.price{
    font-weight: 700;
    font-size: 30px;
}
.discount{
    background-color: hsl(25, 100%, 94%);
    border-radius: 5px;
    width: 50px;
    text-align: center;
    position: relative;
    left: 10px;
    color: hsl(26, 100%, 55%);
    font-size: 20px;
    font-weight: 700;
}
.oldprice{
    text-decoration-line: line-through;
    font-size: 20px;
    position: relative;
    left: 45%;
    color: hsl(219, 9%, 45%);
    margin-bottom: 15px;
}
.quantity{
    display: flex;
    position: relative;
    height: 70px;
    background-color: hsl(223, 64%, 98%);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 15px;
}
.minus, .plus{
    background-color: hsl(223, 64%, 98%);
    border: 0;
    width: 30px;
    height: 30px;
    font-size: 30px;
    font-weight: 700;
    color:hsl(26, 100%, 55%)

}
.counter{
    font-size: 20px;
    font-weight: 700;
}
.addToCart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: hsl(26, 100%, 55%);
    border: 0px;
    border-radius: 10px;
    color: white;
    margin-bottom: 100px;
}
.addToCart > p{
    margin-left: 10px;
    font-weight: 700;
    font-size: 20px;
}
.sideBarContainer{
    display: flex;
}
.sideBar{
    position: fixed;
    top:0px;
    left:0px;
    width: 150px;
    height: 100vh;
    background-color: white;
    z-index: 20;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    
}
.sideBar > .m_btn{
    background-color: rgba(0,0,0,0);
    border: 0;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    
}
.sideBarRemover{
    width: calc(100vw - 150px);
    height: 100vh;
    border:0;
    background-color: rgba(0,0,0,0);
    position: fixed;
    top: 0;
    left: 150px;
    z-index: 20; 
}
